ion-item {
    --border-color: #dcdcdc;
    --background: #fafafa;
    margin-bottom: 10px;
  }
  
  ion-label h2 {
    font-size: 18px;
    font-weight: bold;
  }
  
  ion-label p {
    font-size: 14px;
    color: #666;
  }
  