<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>Time Table</ion-title>
  </ion-toolbar>
</ion-header><br>

<ion-content padding>
  <img src="assets/WhatsApp Image 2024-10-07 at 12.37.26 PM.jpeg" alt="Time Table" style="width: 100%; display: block; margin: 0 auto;"><br>
  <img src="assets/WhatsApp Image 2024-10-07 at 12.37.26 PM (1).jpeg" alt="Time Table" style="width: 100%; display: block; margin: 0 auto;">
</ion-content>
