ion-content {
    --background: #f4f6f8;
  }
  
  form {
    width: 100%;
    max-width: 400px;
    margin: auto;
  }
  
  ion-button {
    --background: #3880ff;
  }
  
  ion-input {
    margin-bottom: 10px;
  }
  